[Unit]
Description=a script that checks docker health and restarts if needed
{{- if NeedsContainerd}}
After=containerd.service
{{else}}
After=docker.service
{{- end}}
[Service]
Restart=always
RestartSec=10
RemainAfterExit=yes
Environment=CONTAINER_RUNTIME={{GetContainerRuntime}}
ExecStart=/usr/local/bin/health-monitor.sh container-runtime
[Install]
WantedBy=multi-user.target
#EOF
