[Unit]
Description=Label Kubernetes nodes as masters or agents
After=kubelet.service

[Service]
Restart=always
RestartSec=30
ExecStart=/opt/azure/containers/label-nodes.sh

[Install]
WantedBy=multi-user.target
