apiVersion: v1
kind: Pod
metadata:
  name: kube-controller-manager
  namespace: kube-system
  labels:
    tier: control-plane
    component: kube-controller-manager
spec:
  priorityClassName: system-node-critical
  hostNetwork: true
  containers:
    - name: kube-controller-manager
      image: {{ContainerImage "kube-controller-manager"}}
      imagePullPolicy: IfNotPresent
      command: [{{ContainerConfig "command"}}]
      args: [{{GetControllerManagerArgs}}]
{{- if IsCustomCloudProfile}}
      env:
      - name: AZURE_ENVIRONMENT_FILEPATH
        value: "/etc/kubernetes/azurestackcloud.json"
  {{- if IsAzureStackCloud}}
      - name: AZURE_GO_SDK_LOG_LEVEL
        value: INFO
  {{end}}
{{end}}
      volumeMounts:
        - name: etc-kubernetes
          mountPath: /etc/kubernetes
{{- if IsKubernetesVersionGe "1.17.0"}}
        - name: etc-ssl
          mountPath: /etc/ssl
          readOnly: true
        - name: ca-certificates
          mountPath: /usr/local/share/ca-certificates
          readOnly: true
{{end}}
        - name: var-lib-kubelet
          mountPath: /var/lib/kubelet
        - name: msi
          mountPath: /var/lib/waagent/ManagedIdentity-Settings
          readOnly: true
{{- if IsCustomCloudProfile}}
        <volumeMountssl>
{{end}}
  volumes:
    - name: etc-kubernetes
      hostPath:
        path: /etc/kubernetes
{{- if IsKubernetesVersionGe "1.17.0"}}
    - name: etc-ssl
      hostPath:
        path: /etc/ssl
    - name: ca-certificates
      hostPath:
        path: /usr/local/share/ca-certificates
{{end}}
    - name: var-lib-kubelet
      hostPath:
        path: /var/lib/kubelet
    - name: msi
      hostPath:
        path: /var/lib/waagent/ManagedIdentity-Settings
{{- if IsCustomCloudProfile}}
    <volumessl>
{{end}}
